{namespace coleslaw.theme.tower}

{template base}
<!doctype html>{\n}
<html lang="{$config.lang}">
  <head>
    <title>{$config.title}</title>
    <meta http-equiv="content-type" content="text/html;" charset="{$config.charset}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}

    <link rel="apple-touch-icon" sizes="180x180" href="{$config.domain}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$config.domain}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$config.domain}/favicon-16x16.png">
    <link rel="manifest" href="{$config.domain}/site.webmanifest">
    <link href="//fonts.googleapis.com/css?family=PT Mono:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link href="{$config.domain}/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml" />
  </head>
  <body>
    <div class="navigation">
      <div class="nav_logo"></div>
      <div class="nav_title">
        <a href="{$config.domain}">{$config.title}</a>
      </div>
      <div class="nav_refs">
        <div class="ref_github" title="vdikan @ GitHub"
             onclick="window.location='https://github.com/vdikan';"></div>
        <div class="ref_linkedin" title="Vladimir Dikan @ LinkedIn"
             onclick="window.location='https://www.linkedin.com/in/vladimir-dikan/';"></div>
      </div>
      <div class="nav_sides">
        <div class="side_en" title="Good Side" onclick="window.location='{$config.domain}/tag/en.html';">
          <span>En</span>
        </div>
        <div class="side_ru" title="Dark Side" onclick="window.location='{$config.domain}/tag/ru.html';">
          <span>Ru</span>
        </div>
      </div>
      <div class="nav_sitenav">
      {foreach $link in $config.sitenav}
        {if $link.relative}
          <a href="{$config.domain}/{$link.url}">{$link.name}</a>
        {else}
          <a href="{$link.url}">{$link.name}</a>
        {/if}
        {if not isLast($link)} {sp}|{sp} {/if}
      {/foreach}
      </div>
    </div>
    <div id="content">
      {$raw |noAutoescape}
    </div>
    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
    <div class="fineprint">
      Unless otherwise credited all material
      {if $config.license}
        {$config.license}
      {else}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
          <img alt="Creative Commons License" style="border-width:0" src="{$config.domain}/css/cc-by-sa.png" />
        </a>
      {/if}
      by {$config.author}. </br>
        Powered by <a href="https://github.com/coleslaw-org/coleslaw">Coλeslaw</a>.
        Design elements' artwork created with <a href="https://ephtracy.github.io">MagicaVoxel</a>.
    </div>
  </body>
</html>
{/template}
