{namespace coleslaw.theme.tower}

{template base}
<!doctype html>{\n}
<html lang="{$config.lang}">
  <head>
    <title>{$config.title}</title>
    <meta http-equiv="content-type" content="text/html;" charset="{$config.charset}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}

    <script src="{$config.domain}/js/highlight.pack.js"></script>
    <script src="{$config.domain}/js/highlightjs-line-numbers.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{$config.domain}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$config.domain}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$config.domain}/favicon-16x16.png">
    <link rel="manifest" href="{$config.domain}/site.webmanifest">
    <link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml" />

    <link href="//fonts.googleapis.com/css?family=PT Mono:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link href="{$config.domain}/css/night-owl.css" rel="stylesheet" type="text/css" />
    <link href="{$config.domain}/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navigation">
      <div class="nav_logo"></div>
      <div class="nav_header">
        <div class="nav_title">
          <a href="{$config.domain}">{$config.title}</a>
        </div>
        <div class="nav_sitenav">
          {foreach $link in $config.sitenav}
          <div class="sitenav_link">
            {if $link.relative}
            <a href="{$config.domain}/{$link.url}">{$link.name}</a>
            {else}
            <a href="{$link.url}">{$link.name}</a>
            {if not isLast($link)} {sp}|{sp} {/if}
          {/if}
          </div>
          {/foreach}
        </div>
      </div>
      <div class="nav_sides">
        <div class="side_en" title="Good Side" onclick="window.location='{$config.domain}/tag/en.html';">
          <span>En</span>
        </div>
        <div class="side_ru" title="Dark Side" onclick="window.location='{$config.domain}/tag/ru.html';">
          <span>Ru</span>
        </div>
      </div>
      <div class="nav_refs">
        {foreach $link in $config.siterefs}
        <div class="ref_button" title="{$link.title}"
             style="background: url('{$config.domain}/{$link.icon}') no-repeat; background-size: 55px 55px; background-position: 0px 0px;"
             onclick="window.location='{$link.url}';"></div>
        {/foreach}
      </div>
    </div>
    <div id="content-wrapper">
      <div id="content">
        {$raw |noAutoescape}
      </div>
      <div id="media-timelines">
        <a class="twitter-timeline"
           data-lang="en"
           data-dnt="true"
           data-theme="dark"
           data-height="800"
           data-chrome="transparent"
           href="https://twitter.com/ivorysiegetower?ref_src=twsrc%5Etfw">Tweets by ivorysiegetower</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
    <div class="fineprint">
      Unless otherwise credited all material
      {if $config.license}
        {$config.license}
      {else}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
          <img alt="Creative Commons License" style="border-width:0" src="{$config.domain}/css/cc-by-sa.png" />
        </a>
      {/if}
      by {$config.author}. </br>
        Powered by <a href="https://github.com/coleslaw-org/coleslaw">Coλeslaw</a>.
        Design elements' artwork created with <a href="https://ephtracy.github.io">MagicaVoxel</a>.
    </div>
  </body>
</html>
{/template}
